In [1]:
import pandas as pd
import numpy as np

In [2]:
# initialize list of lists 
data = [[20, 30], [15, 15], [30, 14], [30,15], [20,14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 

print (df)

   Name  Age
0    20   30
1    15   15
2    30   14
3    30   15
4    20   14

In [3]:
df.apply(np.mean)

Name    23.0
Age     17.6
dtype: float64

In [4]:
df['Name'].map(lambda x: x>=25)

0    False
1    False
2     True
3     True
4    False
Name: Name, dtype: bool

In [5]:
df.applymap(lambda x: x>=25)

    Name    Age
0  False   True
1  False  False
2   True  False
3   True  False
4  False  False

In [6]:
product = np.array([13, 5, 6, 10, 11])
prices = np.array([1.2, 6.5, 1.0, 4.8, 5.0])
total = sum([p * q for p, q in zip (product, prices)])
print (total)

157.1

In [7]:
print ([p / q for p, q in zip (product, prices)])

[10.833333333333334, 0.7692307692307693, 6.0, 2.0833333333333335, 2.2]

In [8]:
print ((product/prices).sum())

21.885897435897434

In [9]:
df['Age'].unique()

array([30, 15, 14], dtype=int64)

In [10]:
df['Age'].value_counts()

15    2
14    2
30    1
Name: Age, dtype: int64

In [11]:
df['Age'].value_counts()/df.shape[0]

15    0.4
14    0.4
30    0.2
Name: Age, dtype: float64

In [12]:
df.head(3)

   Name  Age
0    20   30
1    15   15
2    30   14

In [13]:
df.tail(3)

   Name  Age
2    30   14
3    30   15
4    20   14

In [14]:
df['Age'] * 10

0    300
1    150
2    140
3    150
4    140
Name: Age, dtype: int64

In [15]:
df['Name']/df['Age']

0    0.666667
1    1.000000
2    2.142857
3    2.000000
4    1.428571
dtype: float64

In [16]:
df [['Name', 'Age']]

   Name  Age
0    20   30
1    15   15
2    30   14
3    30   15
4    20   14

In [17]:
crisis = pd.Series ([-100, -0.3], index = ['GDP', 'HDI'])
print (crisis)

GDP   -100.0
HDI     -0.3
dtype: float64

In [18]:
# initialize list of lists 
data = [[250, 0.93], [500, 0.85]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['GDP', 'HDI']) 

print (df)

df[['GDP', 'HDI']] + crisis

   GDP   HDI
0  250  0.93
1  500  0.85

     GDP   HDI
0  150.0  0.63
1  400.0  0.55

In [19]:
t = pd.to_datetime('10:15:00').time() 
print (t)

10:15:00

In [20]:
t = (pd.to_datetime('10:15:00').time() < pd.to_datetime('02:00:00').time())
print (t)

False